cheatsheet-part1.md
cheatsheet-part2.md
content.md
regex-cheatsheet.png
.venv/
my_django.md

lecture_transcript/

starting.md
djando-set-up-info-graphic.png
ORM-Query-Cheatsheet.png
req-res-anat.png
Request-response-guide-django.png
my_django_2.md